.blocklyText {
  cursor: default;
  font-family: sans-serif;
  font-size: 11pt;
  fill: #fff;
}
.blocklyNonEditableText>text {
  pointer-events: none;
}
.blocklyNonEditableText>rect,
.blocklyEditableText>rect {
  fill: #fff;
  fill-opacity: .6;
}
.blocklyNonEditableText>text,
.blocklyEditableText>text {
  fill: #000;
}
.blocklyEditableText:hover>rect {
  stroke-width: 2;
  stroke: #fff;
}
/*
 * [lyn, 10/08/13] Control parameter fields with flydown getter/setter blocks.
 * Brightening factors for variable color rgb(208,95,45):
 * 10%: rgb(212, 111, 66)
 * 20%: rgb(217, 127, 87)
 * 30%: rgb(222, 143, 108)
 * 40%: rgb(226, 159, 129)
 * 50%: rgb(231, 175, 150)
 * 60%: rgb(236, 191, 171)
 * 70%: rgb(240, 207, 192)
 * 80%: rgb(245, 223, 213)
 * 90%: rgb(250, 239, 234)
 */
.blocklyFieldParameter>rect {
  /* fill: rgb(231,175,150);*/ /* This looks too much like getter/setter var */
  fill: rgb(222, 143, 108);
  fill-opacity: 1.0;
  stroke-width: 2;
  stroke: rgb(231, 175, 150);
}
.blocklyFieldParameter>text {
 /* fill: #000; */ /* Use white rather than black on dark orange */
  stroke-width: 1;
  fill: #000;
}
.blocklyFieldParameter:hover>rect {
  stroke-width: 2;
  stroke: rgb(231,175,150);
  fill: rgb(231,175,150);
  fill-opacity: 1.0;
}
/*
 * [lyn, 10/08/13] Control flydown with the getter/setter blocks.
 */
.blocklyFieldParameterFlydown {
  fill: rgb(231,175,150);
  fill-opacity: 0.8;
}
/*
 * [lyn, 10/08/13] Control parameter fields with flydown procedure caller block.
 */
.blocklyFieldProcedure>rect {
  /*  rgb(231,175,150) is procedure color rgb(124,83,133) brightened by 70% */
  fill: rgb(215,203,218);
  fill-opacity: 1.0;
  stroke-width: 0;
  stroke: #000;
}
.blocklyFieldProcedure>text {
  fill: #000;
}
.blocklyFieldProcedure:hover>rect {
  stroke-width: 2;
  stroke: #fff;
  fill: rgb(215,203,218);
  fill-opacity: 1.0;
}
/*
 * [lyn, 10/08/13] Control flydown with the procedure caller block.
 */
.blocklyFieldProcedureFlydown {
  fill: rgb(215,203,218);
  fill-opacity: 0.8;
}
/*
 * Don't allow users to select text.  It gets annoying when trying to
 * drag a block and selected text moves instead.
 */
.blocklyBubbleText {
  fill: #000;
}
/*
 * [lyn, 09/10/14] Limit size of runtime error dialog window
 */
.blocklyRuntimeErrorDialog {
  max-width: 75%;
  max-height: 75%;
  overflow: auto
}
.blocklySvg text {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit;
}
/*
 * Selecting text for Errors and Warnings is allowed though.
 */
.blocklySvg text.blocklyErrorWarningText {
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
.blocklyHidden {
  display: none;
}
.blocklyFieldDropdown:not(.blocklyHidden) {
  display: block;
}
/*
 * Hide scrollbar track in flyout
 */
path.blocklyFlyoutBackground rect.blocklyScrollbarKnob {
  color: rgb(182, 182, 182);
}
path.blocklyFlyoutBackground rect.blocklyScrollbarBackground {
  fill: none;
  stroke: none;
}

.blocklyText.fa {
  font-family: FontAwesome;
}
.blocklyText.fa.quote {
  font-size: 80%;
  fill: rgba(255, 255, 255, 0.9);
}
