@media screen {
	#events.collapsed div:nth-child(n+10) { 
		display: none; 
	}
}

div.machine > h3 {
	display: block;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
}

div.machine div.control {
	display: inline-block;
	/*background: #039;
	color: #FFF;
	font-family: sans-serif;*/
	padding: 5px;
	margin: 5px;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

div.machine div.property {
	display: inline-block;
	background: #039;
	color: #FFF;
	font-family: sans-serif;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.machine div.image span.title,
div.machine div.property span.title {
	display: block;
	font-size: 12px;
	font-weight: normal;
}
div.machine div.property span.value {
	font-size: 18px;
	font-weight: bold;
}
div.machine div.property span.unit {
	font-size: 12px;
	font-weight: normal;
}

div.definition div.method div.block {
	margin: 15px 0 0;
}

div.definition div.method div.cmd {
	margin: 0;
	padding: 2px 2px 2px 22px;
	border-color: #445;
	border-width: 1px 0;
	color: #324;
	font: 11px sans-serif;
	position: relative;
}

div.definition div.method div.cmd i.icon {
	height: 15px;
	width:  28px;
	position: absolute;
	left:   0;
	background: url("/command-icons.png");
	background-repeat: no-repeat;
	overflow: hidden;
}

div.definition div.method div.cmd.running i.icon {
	background-position: 0 -15px;
	
}
#experiment.paused div.definition div.method div.cmd.running i.icon {
	background-position: 0 -30px;
	
}
div.definition div.method div.cmd.done i.icon {
	background-position: 0 -45px;

}