#menu-container .dropup,
#menu-container .dropdown {
  position: relative;
}
#menu-container .dropdown-toggle {
  *margin-bottom: -3px;
}
#menu-container .dropdown-toggle:active,
#menu-container.open .dropdown-toggle {
  outline: 0;
}
#menu-container .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
#menu-container .dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
#menu-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#menu-container .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
#menu-container .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
#menu-container .dropdown-menu > li > a {
  cursor: default;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}
#menu-container .dropdown-menu.selectable > li > a {
  padding-left: 40px;
}
#menu-container .dropdown-menu > li.selected {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAnCAYAAABJ0cukAAAACXBIWXMAAAsTAAALEwEAmpwYAAABVUlEQVRYhdXU3VGEMBRA4XNtADvYErAD7WTtxFJoxa1AS9AKLOH6IDjLkoT83rCZyVtCzsdARFU56hCRZ+BLVb99ax4Me5KGiEzAO/ApIqN3oaoebgIToFfzBxida3vHRsQHEd2DI+O9iO7RCfFORPfwxPgN4h7jV4iu1+h8Vb5mbn8EXu7xzS9z6vYJ1YrvAqgZbw6oHb8LAAbgdNT4IAAY+buqFDgfMd4LuInXEkTLeCfAE5+FaB2/AezEJyEs4leAyPgohFX8PyAxPoiwjJ/P45QR70RYxy+At8JDz73iF8AAfBQeXro/K/76H6iBMI+/vYV6IIriV4AOiOL4DcAQUSXeCTBAVIv3AhoiqsYHAQ0Q1eN3ARURTeKjABUQzeKjAQWIpvFJgAxE8/hkQALCJD4LEIEwi88GBBCm8UUAB8I8XlWROSR7iMgAPKnqpehBmeMXV/AuOX2wQ6sAAAAASUVORK5CYII=);
  background-size: 9%;
  background-repeat: no-repeat;
  background-position: 13px 7px;
}
#menu-container .dropdown-menu > li > a:hover,
#menu-container .dropdown-menu > li > a:focus,
#menu-container .dropdown-submenu:hover > a,
#menu-container .dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
#menu-container .dropdown-submenu.disabled:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
#menu-container .dropdown-menu > .disabled:not(.dropdown-submenu) > a,
#menu-container .dropdown-menu > .disabled:not(.dropdown-submenu) > a:hover,
#menu-container .dropdown-menu > .disabled:not(.dropdown-submenu) > a:focus {
  color: #999999;
}
#menu-container .dropdown-menu > .disabled:not(.dropdown-submenu) > a:hover,
#menu-container .dropdown-menu > .disabled:not(.dropdown-submenu) > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: -o-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: linear-gradient(to bottom, #cccccc, #bfbfbf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffbfbfbf', GradientType=0);
  cursor: default;
}
#menu-container.open {
  *z-index: 1000;
}
#menu-container.open > .dropdown-menu {
  display: block;
}
#menu-container .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
#menu-container .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
#menu-container .dropup .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}
#menu-container .dropup .dropdown-menu {
  top: auto;
  bottom: auto;
  margin-bottom: 1px;
}
#menu-container .dropdown-submenu {
  position: relative;
}
#menu-container .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
#menu-container .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
#menu-container .dropup.dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}
#menu-container .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
#menu-container .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
#menu-container .dropdown-submenu.pull-left {
  float: none !important;
}
#menu-container .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
